extends layout

block header
  div.top-bar
    div.menu-text hey Car (used Car Buy and Sell)

block content

  div.row
    div.small-12.columns
    h1= "for buyers " 
    h4= "(Please seach car using only one column for searching/ maximum 100 search) " 
      form(method="post", action="/search_by_item")
        label car maker (ex .vw, mercedes etc) 
          input(type="text", name="make")
        label car model 
          input(type="text", name="model")
        label car year 
          input(type="text", name="year")
        label car color
          input(type="text", name="color")
        button(type="submit").button search car

      h1= "for sellers" 
      h4= "(to the csv upload for) " 
        form(method="post", action="/search_seller_id")
          label seller_id 
             input(type="text", name="seller_id")
          button(type="submit").button search your id 

      label ------------[api usage] ---------------------------------------------------------
      label= "api seach can be used /seach" 
      label= "api register can be used  /vehcle_listings" 
      label ----------------------------------------------------------------------------------
