doctype html
html
  head
    title heyCar α  
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      block header
      block content
  script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js')
