extends layout

block header
  div.top-bar
    div.menu-text hey Car (used Car Buy and Sell)

block content
  div.row
    div.small-12.columns
      table
        thead
          tr
            th consistent_code
            th car maker
            th car model 
            th car power
            th car year
            th car color
            th car price
        tbody
          - each _car in carItems
            tr
              td=  _car.consistent_code
              td=  _car.make
              td=  _car.model
              td=  _car.power
              td=  _car.year
              td=  _car.color
              td=  _car.price
 



