html(lang='ja')
  head
  body
    meta(charset='UTF-8')
    title Express.js File Upload

    h3 ---------------------------
    h3 your car dealer_id is  #{id}
    h3 ---------------------------
    h1 car csv upload 
    form(action='/upload_csv/#{id}', method='POST', enctype='multipart/form-data')
      input(type='file', name='file')
      button(type='submit') upload 
